body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

#header{
    display: flex;
    position: fixed;
    background: lightgray;
    top: 0;
    right: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

#header #header-img{
    width: 250px;
}

#header #nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

#header #nav-bar{
    width: 500px;
    margin-right: 50px;
}

#header #nav-bar li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.email-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    margin-top: 180px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-container h1{
    margin: 0;
    color: black;
    margin-bottom: 15px;
}

.email-container input{
    width: 300px;
    border: 1px solid black;
    height: 30px;
    padding: 0 5px;
    margin-bottom: 10px;
}

.email-container #submit {
    width: 150px;
    background-color: #f1c40f;
    height: 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.features-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 70px 0;
}

.features-container .feature-item{
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.features-container .feature-item i{
    font-size: 50px;
    color: #f1c40f;
    margin-right: 40px;
}

.features-container .feature-item .fa-fire{
    margin-right: 60px;
}

.features-container h2{
    color: black;
    margin: 0;
    font-size: 30px;
}

.features-container p{
    margin: 0;
    color: black;
    font-size: 20px;
}

#video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}

.pricing {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0px 10%;
    margin-bottom: 75px;
}

.pricing-item {
    border: solid;
    width: 400px;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-item h3 {
    width: 100%;
    background-color: lightgray;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
}

.pricing-item .price {
    font-weight: 700;
    font-size: 22px;
    margin: 0 10;
}

.pricing-item .description {
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
}

.pricing-item button {
    font-size: 20px;
    background-color: #f1c40f;
    border: none;
    margin-bottom: 25px;
    padding: 10px;
    font-weight: 200;
}

footer {
    width: 90%;
    margin: auto;
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
}

footer div ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    
}

footer div {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 25px;
    padding: 20px 0px 5px 0px;
}

@media screen and (max-width: 800px) {
    body {
        background-color: lightgreen;
    }
}